doctype html
html
  head
    base(href="/")
    meta(charset="UTF-8")
    link(rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Dosis")
    link(href="css/style.css" rel="stylesheet" type="text/css")
    title= title

  body
    div#app
  script(src="js/hashfile.js")
  script(src="js/web3.js")
  script(src= bundlePath + "/bundle.js")
